<% model_class = Medicine %>
<div class="page-header">

<%= link_to t('.new', :default => t("helpers.links.new")), new_medicine_path, class: 'btn btn-primary' %>
<table class="table table-striped">
<thead>
<tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:price) %></th>
    <th><%= model_class.human_attribute_name(:unit) %></th>
    <th><%= model_class.human_attribute_name(:medicine_category_id) %></th>
    <th><%= model_class.human_attribute_name(:use) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
</tr>
</thead>
<tbody>
    <% @medicines.each do |medicine| %>
    <tr>
        <th> <%= link_to medicine.id , medicine_path(medicine) %></th>
        <th><%= medicine.name %></th>
        <th><%= medicine.price %></th>
        <th><%= medicine.unit %></th>
        <th><%= medicine.medicine_category.name %></th>
        <th><%= medicine.use %></th>
        <th><%= medicine.description %></th>
        <th>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        medicine_path(medicine), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_medicine_path(medicine), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      medicine_path(medicine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </th>
    </tr>
    <% end %>
</tbody>
</table>

</div>